@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    /* Color palette */
    --Orange: rgb(253, 89, 72);
    --royal-blue: #0000ff;
    --Yellow: #fbffa7;
    --light-blue: #b1c5ff;
    --Cyan: #b6ffc0;
    --light-purple: #d5b3ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    font-size: 1rem;
    line-height: 1.5rem;
    overflow-x: hidden;
    background-color: #f3f3f3;
}

::selection {
    background-color: var(--royal-blue);
    color: #fff;
    text-shadow: none;
}

/* Navigation Bar */
header {
    padding-top: 1em;
    position: relative;
    text-align: center;
}

.royal-blue {
  color: blue;
  font-size: 1.2rem;
}

.nav-right a {
  padding-inline: 5px;
}

.nav-top {
    position: relative;
    
}

/* .nav-top .nav-list ul {
    list-style-type: none;
} */

.nav-top > a {
  /* color: black; */
  font-size: 1rem;
  font-weight: 400;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0;
  z-index: 30;
  line-height: 1.5em;
  margin: 0 2em 1.25em 2.5em;
  overflow: hidden;
  width: 60px;
}

a, ul {
    text-decoration: none;
    color: black;
}

.nav-list {
    width: 100vw;
    margin-left: 3em;
}

.nav-list ul {
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
    width: 100%;
    margin-block: 1em;
    padding-inline: 8.75em 2.5em;
    list-style-type: none;
}

button.menu { display: none;}

li > button {
    border: 0;
    background-color: transparent;
    color: var(--Orange);
}

/* Sub-navigation */
.sub-nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: inherit; 
    gap: 30px;
    padding-left: 20px;
}

.sub-nav a {
    text-decoration: none;
    font-size: .9rem;
    color: black;
}

.sub-nav .active {
    color: red;
}


/*   Main section    */
main * {
    padding: 0;
}

.page-about {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

section.hero {
    background-image:url(/Images/header.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-left: 8.333rem;
    margin-right: 8.333rem;
    margin-bottom: 8.333rem;
    height: 109.75rem;
    min-height: 1756px;
    width: 83.334rem;
}



.hero-title h1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 1rem;
    color: #ff4c4c;
    line-height: 1.5rem;
    font-weight: 400;
}

.page {
    max-width: 1600px;
}