@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    /* Color palette */
    --Orange: #ff764d;
    --royal-blue: #0000ff;
    --Yellow: #fbffa7;
    --light-blue: #b1c5ff;
    --Cyan: #b6ffc0;
    --light-purple: #d5b3ff;

}

* {
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

/* Navigation Bar */
nav.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid grey;
}

.nav-links {
    text-align: center;
    list-style: none;
    flex-grow: 1;
    display: flex;
    text-align: left;
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 25px;
}

.royal-blue {
  color: blue;
  font-size: 1.2rem;
}

.nav-right {
  
}

.nav-right a {
  padding-inline: 5px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}


/* Sub-navigation */
.sub-nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: inherit; 
    gap: 30px;
    padding-left: 20px;
    margin-block: 10px;
}

.sub-nav a {
    text-decoration: none;
    font-size: .9rem;
    color: black;
}

.sub-nav .active {
    color: red;
}


/*   Main section    */

main > * {
    padding: 5rem 30rem;
}

section.hero {
    background-image:url(/Images/header.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



.hero-title h1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 80px;
    color: #ff4c4c;
}